body {
    font-family: Arial, sans-serif;
    background: url no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: yellowgreen;
    color: whitesmoke;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 0;
    padding: 0;
}
nav a {
    color: blue;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
}
nav a:hover {
    text-decoration: underline;
}
section {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: gray;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}



